@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

body{
    background-image: linear-gradient(45deg, #151515, rgb(69, 5, 15));
    font-family: 'Cormorant Garamond', serif;
}

h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px gray;
}

#circle{
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    background-image: url(img/kal4-ConversImagem.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    -webkit-background-clip: text;   
    color: rgba(0, 0, 0, .15); 
    transition: 1s ease-in-out;
}
#circle:hover{
    color: whitesmoke
}

